<ion-grid >
  <ion-row class="modal-header">
    Registrieren
  </ion-row>
  <ion-row>
      <ion-input class="modal-content-element" placeholder="Name" required></ion-input>
  </ion-row>
  <ion-row>
      <ion-input class="modal-content-element" placeholder="E-Mail"></ion-input>
  </ion-row>
  <ion-row>
      <ion-input class="modal-content-element" placeholder="Passwort" type="password" required></ion-input>
  </ion-row>
  <ion-row class="modal-registration-footer">
      <ion-button class="scheduler-button" color="custom">Registrieren</ion-button>
  </ion-row>
</ion-grid>