<ion-grid >
  <ion-row class="modal-header">
    Registrieren
  </ion-row>
  <ion-row>
      <ion-input class="modal-content-element" [(ngModel)]="user.username" placeholder="Name" required></ion-input>
  </ion-row>
  <ion-row>
      <ion-input class="modal-content-element" [(ngModel)]="user.email" placeholder="E-Mail"></ion-input>
  </ion-row>
  <ion-row>
      <ion-input class="modal-content-element" [(ngModel)]="user.password" placeholder="Passwort" type="password" required></ion-input>
  </ion-row>
  <ion-row class="modal-registration-footer">
      <ion-button class="scheduler-button" color="custom" (click)="register()">Registrieren</ion-button>
  </ion-row>
</ion-grid>