<ion-grid>
  <ion-row class="modal-header">
    Login
  </ion-row>
  <ion-row class="modal-content-element">
      <ion-input placeholder="E-Mail" required></ion-input>
  </ion-row>
  <ion-row class="modal-content-element">
      <ion-input placeholder="Passwort" type="password"required></ion-input>
  </ion-row>
  <ion-row class="modal-content-element">
      <ion-input class="invisible"></ion-input>
  </ion-row>
  <ion-row class="modal-login-footer">
      <ion-button class="scheduler-button" color="custom">Login</ion-button>
  </ion-row>
</ion-grid>