<app-header [headerText]="getHeaderText()"></app-header>

<ion-content>
  <ion-list>
    <ion-button class="scheduler-button" (click)="routeToCreationPage()" color="custom">Create</ion-button>
    <ion-item *ngFor="let event of events">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="8" size-sm="9">
              <ion-label>{{event.name}}</ion-label>
          </ion-col>
          <ion-col size-xs="2" size-sm="1">
              <ion-button class="scheduler-button" (click)="login()" color="custom"><ion-icon name="create"></ion-icon></ion-button>
          </ion-col>
          <ion-col size-xs="2" size-sm="1">
              <ion-button class="scheduler-button" (click)="login()" color="custom"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
