/*
*       Form-elements
*/
ion-input{
    background: var(--ion-color-custom-gray) !important;
    border-radius: 4px !important;
    text-align: center !important;
    width: 80% !important;
    font-family: 'Typo-Round-Bold' !important;
}

.scheduler-button{
    width: 100%;
    &:hover, &:active, &:focus{
        background: var(--ion-color-custom-rgb) !important;
        border-radius: 4px;
    }
  }

  .scheduler-button-light{
    width: 100%;
    &:hover, &:active, &:focus{
        background: var(--ion-color-custom-rgb-light) !important;
        border-radius: 4px;
    }
  }

/*      
*       Modals are top level elements, 
*       thats why their style has to be declared in the components.scss
*/

.modal-main-grid{
    width: 100%;    
}

.modal-header{
    color: var(--ion-color-custom) !important;
    font-size:28px;
}

/*      
*       Style for Modal, that shows up if a event was created
*/
@media only screen and (min-width: 576px) {
    .modal-created-event .modal-wrapper{
        height: 20% !important;
        min-height: 250px !important;
    }
}

@media only screen and (max-width: 576px) {
    .modal-created-event .modal-wrapper{
        height: 20% !important;
        min-height: 250px !important;
    }
}

@media only screen and (max-width: 467px) {
    .modal-created-event .modal-wrapper{
        height: 30% !important;
        min-height: 250px !important;
    }
}


/*      
*       Style for Modal used for registration and login
*/
@media only screen and (min-width: 576px) {
    .modal-login-registration .modal-wrapper{
        height: 25% !important;
        min-height: 270px !important;
    }
}

@media only screen and (max-width: 576px) {
    .modal-login-registration .modal-wrapper{
        height: 45% !important;
        min-height: 500px !important;
    }
}




/*      
*       Style for Modal used to assign a user to a schedule
*/
@media only screen and (min-width: 576px) {
    .modal-booking-schedule .modal-wrapper{
        height: 25% !important;
        min-height: 280px !important;
    }
}

@media only screen and (max-width: 576px) {
    .modal-booking-schedule .modal-wrapper{
        height: 25% !important;
        min-height: 350px !important;
    }
}

@media only screen and (max-width: 433px) {
    .modal-booking-schedule .modal-wrapper{
        height: 30% !important;
        min-height: 400px !important;
    }
}


/*      
*       Style for Modal used to navigate via code
*/
.modal-search-by-code .modal-wrapper{
    height: 15% !important;
    min-height: 160px !important;
}