@font-face{
    font-family: 'Typo-Round-Light';
    src: url('./assets/fonts/Typo_Round_Light_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Typo-Round-Thin';
    src: url('./assets/fonts/Typo_Round_Thin_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Typo-Round-Bold';
    src: url('./assets/fonts/Typo_Round_Bold_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}