<ion-grid class="modal-main-grid">
    <ion-row class="modal-header"  >
      Möchten Sie den Termin buchen
    </ion-row>
    <ion-row class="modal-content-element">
      <ion-col class="modal-content-element-left-seperation" size-xs="12" size-sm="6">
          <ion-row class="modal-content-element">
              Uhrzeit: XX:XX - XX:XX
          </ion-row>
          <ion-row class="modal-content-element">
              Datum:   XX-XX-XXXX
          </ion-row>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
          <ion-row class="modal-content-element">
              <ion-input placeholder="Name" required></ion-input>
          </ion-row>
          <ion-row class="modal-content-element">
              <ion-input placeholder="E-Mail" required></ion-input>
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="modal-login-footer">
      <ion-col size-xs="12" size-sm="3" offset-sm="9">
          <ion-button (click)="closeModal()" class="scheduler-button margin-top-10" color="custom">Buchen</ion-button>
          <ion-button (click)="closeModal()" class="scheduler-button-light margin-top-10" color="custom-light">Abbrechen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>