.calendar-cell{
    display: table-cell;
    border: 1px solid var(--ion-color-custom-rgb-light);
    height: 25px;
}

.calendar-container {
    display: table;
    width: 90%;
    height: 70%;
}

@media only screen and (min-width: 960px) {  
    .calendar-header-text-cell{
        min-width: 150px;
    }
    .calendar-cell{
        min-width: 150px;
    }
}

@media only screen and (max-width: 960px) {  
    .calendar-header-text-cell{
        min-width: 100px;
    }
    .calendar-cell{
        min-width: 100px;
    }
}

.calendar-header{
    &-text-cell-offset{
        display: table-cell;
        min-width: 100px;
    }
    &-number-cell-offset{
        display: table-cell;
        min-width: 100px;
    }
    &-text-cell{
        position: sticky;
        top: 0;
        left: 100px;
        display: table-cell;
        text-align: center;
        background: var(--ion-color-custom-rgb-light) !important;
        font-size: 25px;
        z-index: 3;
    }
    &-number-cell{
        position: sticky;
        top: 32px;
        left: 100px;
        background: white;
        text-align: center;
        display: table-cell;
        font-size: 25px;
        z-index: 3;
    }
}
.calendar-navigation-controller{
    &-row{
        border-radius: 16px;
        background-color: var(--ion-color-custom) !important;
    }
    &-left-col{
        text-align: left;
        color: white;
        padding: 0px !important;
        cursor: pointer;
    }
    &-middle-col{
        text-align: center;
        font-size: 3vh;
        color: white;
        padding: 0px !important;
    }
    &-right-col{
        text-align: right;
        color: white;
        padding: 0px !important;
        cursor: pointer;

    }
    &-icon{
        width: 32px;
        height: 32px;
    }
}

.calendar-row{
    display: table-row;
}

.calendar-time-cell{
    position: sticky;
    left: 0px;
    background: white;
    display: table-cell;
    text-align: center;
    border: 1px solid var(--ion-color-custom-rgb-light);
    height: 25px;
    z-index: 3;

}

.overflow-container{
    width: 100%;
    height: 80vh;
    overflow: scroll;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }