.options-textarea, .options-textinput{
    background: var(--ion-color-custom-rgb-light) !important;
    width:100% !important;
    border-radius: 4px;
    font-family: 'Typo-Round-Bold';
    text-align: left
}

.option-header{
    color: var(--ion-color-custom) !important;
    font-size:36px;
}

.option-card-basic{
    max-width: 400px;
}

ion-card{
    background-color: #ffffff;
}

@media only screen and (max-width: 960px) { 
    ion-card{
        top: 20%;
    } 
    .option-card{
        position: absolute;
        left: -370px;
        -webkit-animation-name: easeout; 
        -webkit-animation-duration: 2s ; 
        animation-name: easeout;
        animation-duration: 2s;
    }

    .option-card-inserted{
        position: absolute;
        left: 0px;
        -webkit-animation-name: easein;
        -webkit-animation-duration: 2s; 
        animation-name: easein;
        animation-duration: 2s;
    }

    @keyframes easein {
        from {left: -370px;}
        to {left: 0px;}
    }

    @keyframes easeout {
        from {left: 0px;}
        to {left: -370px;}
    }

    @-webkit-keyframes easein {
        from {left: -370px;}
        to {left: 0px;}
    }

    @-webkit-keyframes easeout {
        from {left: 0px;}
        to {left: -370px;}
    }

    .button-col{
        padding-left: 0px;
    }

    .expand-button{
        width: 50px;
        padding-left: 0px !important;
        float: left;
    }
    .button-col{
        position: relative;
        margin-top:50%;
    }    
}

@media only screen and (min-width: 960px) {  
    
    ion-card{
        height: 100% !important;
    }

    .expand-button{
        visibility: hidden;
    }

    .option-card-inserted, .option-card{
        height: 80% !important;
        position: absolute;
        left: 0px;
        top: 10%;
    }

    .options-footer{
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .options-main-grid{
        margin-top: 10%;
    }

    .options-textarea{
        min-height: 150px;
    }
}
