<app-header [headerText]="'Erstelle ein neues Event:'"></app-header>
<app-option-panel class="side-panel" [schedules]="schedules" (intervalChange)="changeInterval($event)"></app-option-panel>

<ion-grid class="modal-main-grid">
    <ion-row class="full-size-row">
        <ion-col size-xs="11" size-sm="11"  size-md="11"  size-lg="7"  size-xl="8">
            <app-calendar [granularity]="granularity" (selectedSchedule)="addSchedule($event)"></app-calendar>
        </ion-col>
    </ion-row>
</ion-grid>