@media only screen and (min-width: 960px) {  
    .side-panel{
        margin-bottom: 0px !important;
    }

    .modal-main-grid{
        margin-left: 420px;
        margin-top: 1%;
    }
}

@media only screen and (max-width: 960px) {  
    .side-panel{
        margin-bottom: 0px;
    }
    .modal-main-grid{
        margin-left: 40px;
        margin-top: 1%;
    }
}

.side-panel{
    z-index: 2;
}