
<ion-content>
  <ion-grid>
    <ion-row class="spacer"></ion-row>
    <ion-row class="scheduler-title">
      <ion-col>
        Termin Vergabe App
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="10" offset-xs="1" size-sm="4" offset-sm="1" size-md="3" offset-md="2" size-lg="3" offset-lg="2" size-xl="2" offset-xl="3">
        <ion-button class="scheduler-button" color="custom">Erstellen</ion-button>
      </ion-col>
      <ion-col size-xs="10" offset-xs="1" size-sm="4" offset-sm="2" size-md="3" offset-md="2" size-lg="3" offset-lg="2" size-xl="2" offset-xl="2">
        <ion-button class="scheduler-button" color="custom">Beitreten</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
